**/.ipynb_checkpoints
.ipynb_checkpoints/*
.ipynb_checkpoints
insults.csv
venv
*.pyc
logs.txt
message.txt
.env
.elasticbeanstalk/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
