<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hater API</title>
    <meta name="author" content="Kevin McAlear" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
    <meta property="og:title" content="Hater API" />
    <meta property="og:description" content="The internet is covered in trolls who are filled with hate. It's time we started to expose them using some machine learning." />
  </head>
  <body>
    <h1>Hater API</h1>
    <p>For more info, email kevin.mcalear@gmail.com</p>
  </body>
</html>
